<div class="row">
    <div class="overlap span5">
        <div class="wrap">
            <h4>Open source your design process</h4>
            <p>
                Style Tiles work for me. Designers all have different challenges.
                I am sharing my process to contribute back a solution to a problem
                that I have encountered. Open Source is all about sharing what works
                for us and building upon that to help progress our industry. Share what
                works best for you, and help elevate the quality and standards of our
                chosen professions.
            </p>
            <p>
                To learn more about the origins of my process check out this blog post
                at <a href="http://badassideas.com/style-tiles-as-a-web-design-process-tool/">badassideas.com</a>
            </p>
        </div>
    </div>
    <div class="span7">
        <div class="row boxy">
            <p class="span7">
                <img src="/img/headshot_small.png" alt="photo of Samantha Warren" class="pull-left" />
                This site is by Samantha Warren, a designer based out of San Francisco who works
                as the Design Director at <a href="http://www.phase2technology.com">Phase2 Technology</a>. She loves web design, typography and
                her <a href="http://www.flickr.com/photos/samanthatoy/sets/72057594083596536/">cross-eyed cat</a>.
                <br>
                <a href="http://twitter.com/intent/user?screen_name=dandrinkard"><img src="/img/footer_twitter_bird.png" alt="@"> samanthatoy</a> &nbsp;
                <a href="http://dribbble.com/samantha/"><img src="/img/dribbble.png" alt="basketball icon" /> Dribbble</a>
            </p>
        </div>
        <div class="row boxy">
            <h4 class="span7">People who are awesome</h4>
            <p class="span3">Illustrations:<br>
                <a href="http://twitter.com/intent/user?screen_name=heyitsgarrett"><img src="/img/footer_twitter_bird.png" alt="@"> heyitsgarrett</a><br>
                <a href="http://heyitsgarrett.com" rel="nofollow">heyitsgarrett.com</a>
            </p>
            <p class="span3 offset1">Site Dev:<br>
                <a href="http://twitter.com/intent/user?screen_name=dandrinkard"><img src="/img/footer_twitter_bird.png" alt="@"> dandrinkard</a><br>
                <a href="http://dandrinkard.me" rel="nofollow">dandrinkard.me</a>
            </p>
            <p class="span7">
                Special thanks to <a href="http://www.twitter.com/shawnmole">@shawnmole</a> for spectacular copy editing, <a href="http://www.twitter.com/phase2tech">@Phase2Tech</a> for
                encouraging involvement in open source and <a href="http://www.twitter.com/jimjones">@JimJones</a> for invaluable design
                feedback, advice &amp; skillz.
            </p>
<p>Background pattern is <a href="http://subtlepatterns.com/?p=834"> Graphy</a> and icons are <a href="http://geomicons.com/">Geomicons</a></p>
        </div>
    </div>
</div>