<!--[if lt IE 7]><p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->

<section id="topbar" class="clearfix navbar-fixed-top">
    <ul class="container">
        <li class="no-mobile"><a class="anim" href="#top"><!--<span class="icon-home icon-white">-->Style Tiles<!--</span>--></a></li>
        <li><a class="anim" href="#what">What</a></li>
        <li><a class="anim" href="#when">When</a></li>
        <li><a class="anim" href="#steps">How</a></li>
        <li class="no-mobile"><a class="anim" href="#examples">Examples</a></li>
        <li class="no-mobile"><a class="anim" href="#artifacts">Responsive Design</a></li>
        <li class="last"><a class="anim" href="http://twitter.com/intent/user?screen_name=styletiles" target="_blank"><img src="/img/twitter_bird_new.png" alt="@" /> styletiles</a></li>
    </ul>
</section>