<!--[if lt IE 7]><p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->

<section id="topbar" class="clearfix anim navbar-fixed-top">
    <ul class="container">
        <li class="last"><a href="http://twitter.com/intent/user?screen_name=styletiles" target="_blank"><img src="/img/twitter_bird_new.png" alt="@" /> styletiles</a></li>
    </ul>
</section>