<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
{% include open.html %}
</head>

<body>
    <div class="container" id="top">
    {% include topbar_home.html %}

    <header class="ir">
        <h1 class="no-mobile">{{ page.title }}</h1>
        <p class="no-mobile">A Visual Web Design Process <em>for</em> Clients &amp; the Responsive Web</p>
        <img src="/img/header_mobile.png" alt="alternate banner" class="mobile-only" />
    </header>

    <article role="main">
        {{ content }}
    </article>
    </div>

    <footer>
        <div class="container">
        {% include footer.html %}
        </div>
    </footer>

    {% include close.html %}

</body>
</html>