<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
{% include open.html %}
</head>

<body>
    <div class="container">
    <header>
        {% include header.html %}
    </header>

    <article role="main">
        {{ content }}
    </article>

    <footer>
        {% include footer.html %}
    </footer>
    </div>

{% include close.html %}
</body>
</html>